mixin main-nav(site)
  nav#main-nav.navbar.navbar-expand-md.navbar-dark.bg-dark.py-1
      .container
        a.navbar-brand(href="index.html") Glozzom
        button.navbar-toggler(data-target="#navbarCollapse" data-toggle="collapse")
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            for name in ["home", "about-us", "services", "blog", "contact"]
              - const Name = require("./utils/menuName.js");
              li.nav-item(class=`${site == name ? "active" : ""}`)
                a.nav-link(href=`${name == 'home' ? "index" : name}.html`)= Name(name)
