mixin page-header(header)
  section.PageHeader
    .container.h-100
      .row.h-100.justify-content-center.align-items-center
        .col-md-8.text-center
          h1.mb-2 #{header}
          p.lead Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam beatae porro, quaerat unde quasi veritatis optio iste error minus necessitatibus?

  
