include ./includes/head
include ./includes/main-nav
include ./includes/carousel
include ./includes/icons
include ./includes/page-header
include ./includes/icon-boxes
include ./includes/price-boxes
include ./includes/accordion
include ./includes/footer