@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
}

nav.navbar {
  .navbar-brand {
    font-size: 1.8rem;
  }
  .navbar-nav {
    .nav-item.active {
      border-left: 0.3rem solid #444;
    }
    .nav-link {
      font-size: 1.5rem;
      text-transform: uppercase;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .nav-item:last-of-type {
      .nav-link {
        padding-right: 0;
      }
    }
  }
}

.Showcase {
  .carousel-item {
    height: 45rem;
  }

  .image0 {
    background: iurl('image0.jpg');
    background-size: cover;
  }

  .image1 {
    background: iurl('image1.jpg');
    background-size: cover;
  }

  .image2 {
    background: iurl('image2.jpg');
    background-size: cover;
  }
}

.HomeHeading {
  min-height: 20rem;
  position: relative;
  background: iurl('lights.jpg') no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #ffffff;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 575px) {
  .carousel-caption {
    h1 {
      font-size: 4rem;
      text-align: center;
    }
  }
}
