@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #222f3e;
}

nav.navbar {
  .navbar-brand {
    font-size: 1.8rem;
  }
  .navbar-nav {
    .nav-item.active {
      border-left: 0.3rem solid #444;
    }
    .nav-link {
      font-size: 1.5rem;
      text-transform: uppercase;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .nav-item:last-of-type {
      .nav-link {
        padding-right: 0;
      }
    }
  }
}

.Showcase {
  .carousel-item {
    height: 45rem;
  }

  .image0 {
    background: iurl('image0.jpg');
    background-size: cover;
  }

  .image1 {
    background: iurl('image1.jpg');
    background-size: cover;
  }

  .image2 {
    background: iurl('image2.jpg');
    background-size: cover;
  }
}

.HomeHeading {
  position: relative;
  min-height: 20rem;
  background: iurl('lights.jpg') no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #ffffff;
}

.Video {
  position: relative;
  min-height: 22rem;
  background: iurl('media.jpg') no-repeat;
  background-attachment: fixed;
  background-position: -20rem 0;
  text-align: center;
  color: #ffffff;

  .video {
    color: #ffffff;
  }
}

.HomeHeading,
.Video {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}

.PageHeader {
  height: 30rem;
  background: iurl('image1.jpg') no-repeat 0 -36rem;
  background-attachment: fixed;
  color: #ffffff;
  border-bottom: 0.1rem solid #000;
}

.About {
  img {
    border: 0.2rem solid rgba($color: #2c3e50, $alpha: 0.2);
    box-shadow: 1rem 1rem 2rem rgba($color: #000000, $alpha: 0.2);
    margin-top: -5rem;
  }
}

.Footer {
  background: #222f3e;
}

@media (max-width: 575px) {
  .carousel-caption {
    h1 {
      font-size: 4rem;
      text-align: center;
    }
  }
}
