include ./pug/main

doctype html
html(lang=require("./constants/site.js").lang)
  +head('about-us')
  
  body

    //- MAIN NAV - pug/includes/main-nav.pug
    +main-nav('about-us')

    //- PAGE HEADER - pug/includes/page-header.pug
    +page-header('About Us')

    //- ABOUT SECTION
    section.About.pt-3.pb-5
      .container
        .row
            .col-md-10.offset-md-1.order-md-2.col-lg-6.offset-lg-0.order-lg-1.align-self-center
              h1.mb-2 What We Do
              p.mb-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, aliquam deserunt? Nobis modi ullam ad laudantium velit optio libero, eius unde autem quos? Soluta, aliquid aut reprehenderit cupiditate quia similique laborum ratione officiis corrupti debitis dignissimos tempore et provident optio, inventore iure, saepe libero illo corporis ea magnam! Qui, ipsum!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit temporibus blanditiis odio illum cupiditate totam eos tempora animi ex reiciendis delectus perferendis molestias qui quod dolor, iusto quibusdam laborum consequatur distinctio. Deleniti vitae beatae consectetur delectus possimus, nemo placeat quas ad optio quaerat iusto aliquam voluptatum atque quod maiores dignissimos!
            .col-md-8.offset-md-2.order-md-1.col-lg-5.offset-lg-1.order-lg-2
              img.img-fluid.rounded-circle.d-none.d-md-block.mb-3.mb-lg-0(src="https://source.unsplash.com/random/600x600/?technology")

    //- ICON BOXES
    section.IconBoxes.p-5.border.border-top.border-bottom.border-light
      - const icons = [{icon: "fal fa-box fa-3x"},{icon: "fal fa-clipboard-check fa-3x"},{icon: "fal fa-dolly-flatbed-alt fa-3x"},{icon: "fal fa-scanner-keyboard fa-3x"},{icon: "fal fa-shipping-timed fa-3x"},{icon: "fal fa-warehouse fa-3x"}];

      //- pug/includes/icon-boxes.pug
      +icon-boxes(icons)

    //- TESTIMONIALS
    section.Testimonials.p-4.bg-dark.text-white
      .container
        h1.text-center.mb-2 Testimonials
        .row.text-center
          .col
            .slider
              for client, index in ["John Doe", "Sam Smith", "Kristin Doyle"]
                div
                  span.display-2 &rsquo;&rsquo;
                  blockquote.blockquote
                    p.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, eius!
                    footer.blockquote-footer #{client} From 
                      cite(title="Company 1")= `Company ${index + 1}`
                  span.display-2 &sbquo;&sbquo;

    //- FOOTER - pug/includes/footer.pug
    +footer