include ./pug/main

doctype html
html(lang=require("./constants/site.js").lang)
  +head()
  
  body

    //- MAIN NAV - pug/includes/main-nav.pug
    +main-nav('home')

    //- SHOWCASE SLIDER
    section.Showcase
      - const slides = [{heading: "Heading One", button: "Sign Up Now"}, {heading: "Heading Two", button: "Show More", color: "danger", align: "center"}, {heading: "Heading Three", button: "Learn Faster", color: "success", align: "right"}];
      
      //- pug/includes/carousel.pug
      +carousel(slides)

    //- HOME ICON SECTION
    section.Icons.py-5
      - const icons = [{icon: "fas fa-cog fa-3x", header: "Turning Gears"}, {icon: "fas fa-cloud fa-3x", header: "Sending Data"}, {icon: "fas fa-cart-plus fa-3x", header: "Making Money"}];

      //- pug/includes/icons.pug
      +icons(icons)

    //- HOME HEADING
    section.HomeHeading.p-5
      .overlay
        .row
          .col
            .container.pt-5
              h1.mb-2 Are You Ready To Get Started?
              p.d-none.d-md-block Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aspernatur impedit aut ab qui, praesentium dolor sequi atque voluptas a.

    //- INFO SECTION
    section.Info.py-3
      .container
        .row
          .col-md-6.align-self-center
            h3.mb-1 Lorem Ipsum
            p.mb-2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam earum tempore quae at ipsam voluptate, sequi eum repudiandae quod voluptatem.
            a.btn.btn-outline-danger.btn-lg(href="about.html") Learn More
          .col-md-6
            img.img-fluid(src=require("./images/laptop.png"))

    